[menu about_menu]
start = "id-3"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu latest_menu]
start = "id-4"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu resources_menu]
start = "id-5"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "More info"
link = "/privacy-policy"
theme = "dark-bottom"
==
<div class="container-fluid border-box dark-background">{% component 'cookieConsent' %}
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-xs-12 col-md-2 start-md center-xs col-sm-6 start-sm">
                <div class="head">About</div>
                {% component 'about_menu' %}
            </div>
            <div class="col-xs-12 col-md-2 start-md center-xs col-sm-6 start-sm">
                <div class="head">Latest</div>
                {% component 'latest_menu' %}
            </div>
            <div class="col-xs-12 col-md-2 start-md center-xs col-sm-6 start-sm">
                <div class="head">Resources</div>
                {% component 'resources_menu' %}
            </div>
            <div class="col-xs-12 col-md-2  center-md center-xs col-sm-6 ">
                {% if (enable_social_media) %}
                <div class="head centered">Follow {{ this.theme.site_name }}</div>
                <div class="social-networks contacts col-md-2 col-xs-12 center-md center-xs">
                    <div class="icons" style="margin-top: 10px;">
                        {% if enable_twitter and twitter_url %}
                        <a href="{{twitter_url}}" target="_blank" class="pr p-secondary p-twitter big" target="_blank"></a>
                        {% endif %}
                        {% if enable_facebook and facebook_url %}
                        <a href="{{facebook_url}}" target="_blank" class="pr p-secondary p-facebook big" target="_blank"></a>
                        {% endif %}
                        
                        {% if enable_linkedin and linkedin_url %}
                        <a  href="{{linkedin_url}}" target="_blank" class="pr p-secondary p-linkedin big" target="_blank"></a>
                        {% endif %}
                        {% if enable_youtube and youtube_url %}
                        <a  href="{{youtube_url}}" target="_blank" class="pr p-secondary p-youtube big" target="_blank" style="margin-top: 3px;"></a>
                        {% endif %}
                        {% if enable_instagram and instagram_url %}
                        <a  href="{{instagram_url}}" target="_blank" class="pr p-secondary p-instagram big" target="_blank"></a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-2 center-md center-xs col-sm-6 ">
                <div class="head centered">Contact us</div>
                <div class="social-networks contacts col-md-2 col-xs-12 center-md center-xs">
                    <div class="icons mt-1">
                        <a href="{{'contact'|page}}" class="pr p-secondary p-mail big"></a>
                    </div>
                </div>
            </div>

            {%if this.theme.subscribe%}
            <div class="col-xs-12 col-md-2  center-md center-xs col-sm-6 ">
                <div class="head centered">Stay up to date</div>
                <div class="social-networks contacts col-md-2 col-xs-12 center-md center-xs">
                    <div class="icons mt-1">
                        <a href="{{this.theme.subscribe}}" target="_blank" class="pr p-secondary p-subscribe big"></a>
                    </div>
                </div>
            </div>
            {%endif%}

        </div>
    </div>

</div>
<div class="container-fluid border-box black-background">
    <div class="row nowrap text-light d-flex justify-content-between align-items-center flex-column flex-lg-row dark-background">
        {% if (footer_funds_flag != null or footer_funds_text != '') %}
        <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-sm col-xs-12">
            {% if footer_funds_flag %}
            <img class="text mr-0 mr-lg-1 ml-lg-1" style="height:50px;" src="{{ footer_funds_flag }}"/>
            {% endif %}
            {% if footer_funds_text %}
            <span class="align-items-center mt-sm-0 mt-1">SELINA receives funding from the European Union’s Horizon Europe research and innovation programme under grant agreement No 101060415. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Commission. Neither the EU nor the EC can be held responsible for them.</span>
            {%endif %}
        </div>
        {% endif %}
        <div class="col-lg-1 col-sm-2 col-xs-12 center-xs"><a style="flex:0 0 auto; font-size: 18px;" href="/privacy-policy">Privacy Policy</a></div>
        <div class="col-lg-2 col-sm-3 col-xs-12 end-sm center-xs">
            <div class="powered-by my-1 my-lg-0 px-1 align-items-center end-sm center-xs">
                <span>Created and maintained by <a href="https://pensoft.net/" target="_blank">
                    <img class="text" src="{{ 'assets/images/pensoft-logo.svg'|theme }}" /></a>
                </span></div></div>
    </div>

</div>