
nav:not(.navbar){
  width: 100%;
  ul{
    list-style-type: none;
    li{
      display: inline;
      margin: 0 10px;
    }
  }
}

.news{
  .news-title{
    min-height: 86px;
  }
}

.news-title {
  .card-title{
    color: @dark-color;
    font-weight: bold;
    text-transform: unset;
    font-size: 24px;
      font-family: unset!important;
      text-align: left;
    * {
      color: @dark-color;
    }

    .breakpoint-small-down({
      font-size: 20px;
    })
  }

  .single-new-title{
    line-height: 1.3em;
    width: 100%;
      text-align: left;
    .breakpoint-small-down({
      font-size: 33px!important;
      margin-top: 40px;
    });
  }
}

.single-news-item{
  position: relative;
  .text-published{
    font-weight: 500;
      margin-bottom: 20px;
    .breakpoint-small-down({
      margin-left: 0px;
    });
  }

  .content{
    //margin-left: 20px;
    .breakpoint-small-down({
      margin-left: 0px;
    });
  }

  .content.left{
      margin-right: 0px;
    .breakpoint-small-down({
      padding-bottom: 0px;
    });
  }

  .news-title{
    //margin-left: 20px;
    .breakpoint-small-down({
      margin-left: 0px;
    });
  }

  img{
    max-width: 100% !important;
    object-fit: contain;
      margin-bottom: 20px;
  }

  h1{
    text-transform: none;
  }

    div:nth-child(2){
        .breakpoint-small-down({
            order: 1;
        });
    }
    div:nth-child(1){
        .breakpoint-small-down({
            order: 2;
        });
    }
}



.news-container .row{
  display: none;
}

.info{
  color: @dark-color;
  font-size: 17px;
  a{
    color: @dark-color;
  }
}

.home .news-item{
  display: flex!important;

  .news_column{
    width: 100%;
    position: relative;
      margin-top: 0px;
      margin-bottom: 0;
      transition: all .3s ease-in-out;
      box-shadow: none;
      &:hover{
          margin-top: -20px;
          margin-bottom: 20px;
          box-shadow: 0 18px 14px rgba(175, 184, 188, 0.4)!important;
      }

    img{
      height: 305px;
      object-fit: cover;
      object-position: center;
        .breakpoint-laptop-down({
            height: 205px;
        });
    }

      .news-title{
          position: absolute;
          top: 385px;
          .breakpoint-laptop-down({
              top: 285px;
          });
          .breakpoint-huge-down({
              top: 0px;
              position: unset;
          });
          .text-published{
            margin-bottom: 0!important;
          }
      }
  }
}

.newslist .col-xs-12{
  display: flex;
  justify-content: space-evenly;


    .breakpoint-huge-down({
        display: contents;
        justify-content: space-evenly;
    });

    .breakpoint-small-down({
        display: unset;
    });

  .edit-link{
      display: none;
  }

  .card-title{
    color: @green-color;
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 600;
  }

  .card-title:hover{
    opacity: 0.7;
  }
  .news-item{
    padding: 0px;
    position: relative;
    //margin-bottom: 30px;
    display: flex;
      max-width: 24%;
     .news_column{

       display: block;
       img{
         width: 100% !important;
           .breakpoint-small-down({
               width: 100% !important;
           });
       }

       .news-image{
         padding: 0;
         //height: 235px;
       }

       .text-published{
         color: @green-color;
         background: @white-color;
           padding: 20px 25px;
           font-weight: bold;
       }

       .news-container{
         display: flex;
         flex-direction: column;
         padding: 0!important;
       }

       .breakpoint-small-down({
         margin-bottom: 30px!important;
       })
     }

    .news_column:hover{
      box-shadow: none;
    }
      .breakpoint-laptop-down({
          display: flex;
          max-width: 24%!important;
      });

      .breakpoint-huge-down({
          display: flex;
          max-width: 45%!important;
          flex-basis: 45% !important;
          margin-right: 20px;
      });

      .breakpoint-large-down({
          flex-basis: 100%!important;
          max-width: 100%!important;
          margin-top: 30px!important;
          margin-right: 0;
      });

  }

}

.news .newslist{
  .news_column:hover{
    //box-shadow: 0 6px 27px rgba(0, 0, 0, 0.1) !important;

  }
}
.home .newslist{
  margin-top: 50px;
  .breakpoint-small-down({
    margin-top: 10px;
  })
}


.news{
    .edit-link{
        display: none;
    }
    .news-item {
        margin-bottom: 50px;
    }
    .news_column{
        display: flex;

        width: 100%;
        .breakpoint-small-down({
            justify-content: space-around;

        });
        .news-image{
            //width: 380px!important;
            float: left;
            .breakpoint-large-down({
                max-width: unset;
                width: 100%!important;
            });
            .breakpoint-small-down({
                max-width: 100%;
                margin-bottom: 20px;
            });

            img{
                width: unset;
                .breakpoint-small-down({
                    max-width: 100%;
                });
            }
        }
        .text-published{
            border: none!important;
            padding: 0!important;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .news-container{
            display: flex;
            flex-direction: column;
            padding-left: 46px!important;
            margin-right: 0!important;
            .news-title h3{
                font-weight: bold;
                font-size: 40px;
            }
            .body{
                color: #2F2F2F;
                font-weight: 300;
            }

            .breakpoint-small-down({
                padding-left: 0!important;
                margin-bottom: 50px;
            });
        }
    }


    .news-image {
        position:relative;
        padding: 0!important;
    }
    .news-image img {
        width:100%;
        vertical-align:top;
    }
    .news-image:after {
        content:'\A';
        position:absolute;
        width:100%; height:100%;
        top:0; left:0;
        background:rgba(0,48,64,0.4);
        opacity:0;
        transition: all 0.9s;
        -webkit-transition: all 0.9s;
    }
    .news_column a:hover > .news-image:after {
        opacity:1;
    }
    .news_column a:hover > .news-container {
        opacity: 0.7!important;
    }
}



.news-img-top{
  display: inline-flex;
}

