
nav:not(.navbar){
  width: 100%;
  ul{
    list-style-type: none;
    li{
      display: inline;
      margin: 0 10px;
    }
  }
}

.news{
  .news-title{
    min-height: 86px;
  }
}

.news-title {
  .card-title{
    color: @dark-color;
    font-weight: bold;
    text-transform: unset;
    font-size: 24px;
      font-family: unset!important;
      text-align: left;
    * {
      color: @dark-color;
    }

    .breakpoint-small-down({
      font-size: 20px;
    })
  }

  .single-new-title{
    line-height: 1.3em;
    width: 100%;
      text-align: left;
    .breakpoint-small-down({
      font-size: 33px!important;
      margin-top: 40px;
    });
  }
}

.single-news-item{
  position: relative;
  .text-published{
    font-weight: 500;
      margin-bottom: 20px;
    .breakpoint-small-down({
      margin-left: 0px;
    });
  }

  .content{
    //margin-left: 20px;
    .breakpoint-small-down({
      margin-left: 0px;
    });
  }

  .content.left{
      margin-right: 0px;
    .breakpoint-small-down({
      padding-bottom: 0px;
    });
  }

  .news-title{
    //margin-left: 20px;
    .breakpoint-small-down({
      margin-left: 0px;
    });
  }

  img{
    max-width: 100% !important;
    object-fit: contain;
      margin-bottom: 20px;
  }

  h1{
    text-transform: none;
  }

    div:nth-child(2){
        .breakpoint-small-down({
            order: 1;
        });
    }
    div:nth-child(1){
        .breakpoint-small-down({
            order: 2;
        });
    }
}



.news-container .row{
  display: none;
}

.info{
  color: @dark-color;
  font-size: 17px;
  a{
    color: @dark-color;
  }
}

.home{
    .article_highlights_container{
        position: relative;
        a.btn-primary{
            position: absolute;
            top: 100px;
            right: 120px;
            padding: 20px 50px;
            &:hover{
                opacity: 0.6;
            }
        }

        .base_heading{
            float: left;
            padding-left: 10px;
        }
    }
    .newslist .col-xs-12{
        justify-content: center;
        flex-direction: column;
        //padding-right: 0;
        //padding-left: 0;
        .breakpoint-small-down({
            display: unset;
        });

        .text-published{
            background: @white-color;
            padding: 25px 12px;
            margin-bottom: 20px;
        }

        .edit-link{
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .card-title{
            color: @default-color;
            font-size: 24px;
            line-height: 1.5em;
            font-weight: bold;
            //font-family: Raleway;
            //padding-left: 12px;
            //padding-right: 12px;
        }
        .text-published{
            font-size: 18px;
            font-weight: bold;
            padding-right: 12px;
            padding-left: 12px;
        }

        .card-description{
            display: none;
        }

        .news-img-top{
            width: 380px;
            max-width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
}

.home .news-item{
    //display: flex!important;
    //flex-basis: 31%!important;
    //max-width: 31%!important;
    margin-bottom: 30px;
    .news_column{
        width: 380px;
        margin: 0 auto;
        max-width: 100%;
        //background: @white-color;
        display: flex;
        align-items: start;
    img{
        .breakpoint-laptop-down({
            margin: 0 auto;
        });
    }
}
}

.home .newslist{
margin-top: 50px;
.breakpoint-small-down({
    margin-top: 10px;
})
}


.news{
    .edit-link{
        display: none;
    }
    .news-item {
        margin-bottom: 50px;
    }
    .news_column{
        display: flex;

        width: 100%;
        .breakpoint-small-down({
            justify-content: space-around;

        });
        .news-image{
            //width: 380px!important;
            float: left;
            .breakpoint-large-down({
                max-width: unset;
                width: 100%!important;
            });
            .breakpoint-small-down({
                max-width: 100%;
                margin-bottom: 20px;
            });

            img{
                width: unset;
                .breakpoint-small-down({
                    max-width: 100%;
                });
            }
        }
        .text-published{
            border: none!important;
            padding: 0!important;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .news-container{
            display: flex;
            flex-direction: column;
            padding-left: 46px!important;
            margin-right: 0!important;
            .news-title h3{
                font-weight: bold;
                font-size: 40px;
            }
            .body{
                color: #2F2F2F;
                font-weight: 300;
            }

            .breakpoint-small-down({
                padding-left: 0!important;
                margin-bottom: 50px;
            });
        }
    }


    .news-image {
        position:relative;
        padding: 0!important;
    }
    .news-image img {
        width:100%;
        vertical-align:top;
    }
    .news-image:after {
        content:'\A';
        position:absolute;
        width:100%; height:100%;
        top:0; left:0;
        background:rgba(0,48,64,0.4);
        opacity:0;
        transition: all 0.9s;
        -webkit-transition: all 0.9s;
    }
    .news_column a:hover > .news-image:after {
        opacity:1;
    }
    .news_column a:hover > .news-container {
        opacity: 0.7!important;
    }
}



.news-img-top{
  display: inline-flex;
}

