.partners_list_container{
    width: 100%;
    display: block;

    img{
        width: auto;
        max-width: 260px;
        max-height: 100px;
        object-fit: contain;
        .breakpoint-large-down({
            width: 100%;
        });
        .breakpoint-small-down({
            width: auto;
        });
    }
    
}

.mapView .partners_map_container{
    position: relative;
    .partners_map{
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        display: flex;
        .breakpoint-huge-down({
            top: unset;
            bottom: 0;
            position: unset;
        });
    }

    .consortium{
        padding: 100px 0;
        h1{
            text-align: left;
        }
        h2{
            text-align: left;
            font-size: 24px;
            .breakpoint-small-down({
                text-align: left!important;
            });
        }

        .breakpoint-small-down({
            padding: 0px;
        });

        .breakpoint-laptop-down({
            .container-fluid .container{
                padding: 0!important;
            }
        });

        .breakpoint-large({
            .container-fluid .container{
                padding: 0!important;
            }
        });
    }
}
.avatar-container{
    img{
        width: 111px;
        height: 111px;
        object-fit: cover;
    }
}
.avatar-container-list{
    img{
        width: 169px;
        height: 169px;
        object-fit: cover;
    }
}

.mapView{
    .partners-email-container {
        .breakpoint-small-down({
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        });
    }
}

#listView{
    .member-cover{
        margin-bottom: 60px;
    }
    .avatar-container-list img {
        max-width: 100%;
        margin: 0 auto;
    }
    
    .member-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.member-details{
    .partners-name, .partners-position{
        font-weight: bold;
    }
    
    .partners-position{
        color: @green-color;
    }
    a{
        max-width: 20px !important;
    }
}

.partner-seperator{
    border: 1px solid #AFB8BC;
}
.show-hide{
    padding-top: 15px;
    padding-bottom: 35px;
}

.partner_cover.width{
  height: 119px;
  width: 119px;
  line-height: 40px!important;
}

.partner_cover.height{
  text-align: center;
  height: 119px;
  width: 119px;
  line-height: 185px!important;
}

.fill_blue:hover
{
  cursor: pointer!important;
}

.dorsal{
  display: block;
  cursor: pointer;
  color: @link-color;
  margin-top: 10px;
}

.toogle-contact-paragraphs { display: none; }

.see_all_partners_link{
  width: 100%;
}

.partners .tabs{
    width: 100%;
    display: block;
    margin-left: 10px;

    .breakpoint-small-down({
        text-align: center;
        margin-left: 0;
    });
    a{
        width: fit-content;
        font-weight: bold;
        cursor: pointer;
        color: @dark-color;
        padding-left: 40px;
        .breakpoint-small-down({
            margin-left: 0px;
            width: 100%;
            text-align: center;
        });

        &.active{
            opacity: 0.6;
            display: none;
        }
        &:first-of-type{
            background: url("../../assets/images/location.svg") left no-repeat;
            background-size: 27px 23px;
        }

        &:last-of-type{
            background: url("../../assets/images/list-view.svg") left no-repeat;
            background-size: 23px 23px;
        }
    }

}

.partner-item-map-view{
    margin-bottom: 50px;
    min-height: 512px;
}

.members-toggle {
    position: relative;
    display: inline-block;
  
    &::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-left: 6px;
      vertical-align: middle;
      background-image: url('../../assets/images/show-members-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform 0.1s ease;
    }
  
    &[data-state="hide"]::after {
        background-image: url('../../assets/images/hide-members-arrow.svg');
        vertical-align: middle;

    }
}

  
.partners-map-container{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.3em!important;
    font-weight: 300!important;


    .accordion-toggle{


        .title_container{
            font-size: 24px;
            color: @dark-color;
            font-weight: bold;
            height: 75px;
            .breakpoint-huge-down({
                height: unset;
                margin: 20px auto;
            });

            img{
                max-width: 178px;
                max-height: 60px;
                object-fit: contain;
            }
        }

        .website{
            .breakpoint-small-down({
                margin: 0px auto;
            });
        }
    }

    h2{
        font-size: 24px;
        text-align: left;
        margin: 20px 0 10px 0;
        display: none;
    }
    a{
        font-weight: bold;
        color: @link-color;

        &.email{
            font-size: 16px;
        }

        &.website{
            background: url("https://project-selina.eu/storage/app/media/pensoft/internet.svg") left no-repeat;
            background-size: 22px;
            padding-left: 30px;
            margin: 9px 0;
            display: block;
            float: left;
        }
    }
    .member-details {
        display: block;
        .partners-name, .partners-position {
            // word-break: break-all;
            white-space: normal;
            font-weight: bold;
        }
        
        .partners-position {
            font: normal normal normal 16px/19px Roboto;
            color: @green-color;
        }
        .partners-email-container {
            display: block;
            a.email {
                word-break: break-all;
                white-space: normal;
            }
        }
    }
    
    .role ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline;
        li{
            display: inline-block;
            color: @white-color;
            background: @green-color;
            padding: 3px 10px;
            font-size: 18px;
            font-weight: bold;
            margin: 0 10px 10px 0;
            .breakpoint-small-down({
                margin: 10px auto;
                display: table;
            });
        }
    }

    .breakpoint-laptop-down({
        .col-lg-6{
            padding: 0!important;
        }
    });
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {

    .consortium{
        flex-basis: 35%!important;
        max-width: 35%!important;
    }

    .partners_map{
        max-width: 65%;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1300px) {

    .consortium{
        flex-basis: 25%!important;
        max-width: 25%!important;
    }
    .partners_map{
        max-width: 75%;
    }

}
