<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SELINA project</title>
	<style>
		body{
			padding: 0;
			margin: 0;
			color: #045a6b;
			background: #fff;
			font-family: "Helvetica Neue", Arial, sans-serif;
			font-size: 20px;
		}
		h1{
			padding: 50px;
			font-size: 70px;
		}
		p{
			max-width: 50%;
			margin: 50px auto;
			line-height: 25px;
		}
	</style>
</head>
<body>

<h1 align="center">Coming soon!</h1>
<p align="center"><img src="{{'SELINA_logo.svg'|media}}"> </p>
<p align="center">SELINA will develop, integrate and apply innovative, robust and cutting-edge methodologies,
	information and data that can be harnessed to support protection, restoration and sustainable and climate-neutral use of ecosystems in the EU by 2030, showing international leadership through the EU's contribution to global and national initiatives.</p>
</body>
</html>