url = "/dps"
layout = "default"
title = "Demonstration projects"

[siteSearchInclude]

[jumbotron]
jumbotron = "demonstration-projects-intro"
background = "transperant"
templates = "template3"
description_limit = 0

[demoList]
==
<?php
use Pensoft\Workshops\Models\Workshop;
use Carbon\Carbon;

    function onStart(){
        $this['workshops'] = Workshop::orderBy('date', 'asc')->get();
        $this['ongoing_entries'] = Workshop::where('date', '>=', Carbon::now())->orderBy('date', 'asc')->get();
    }
?>
==
{% component 'siteSearchInclude' %}

<div class="container main_container">
	<h1 class="page_heading mb-4">Demonstration projects</h1>
    {% component 'jumbotron' %}
</div>

<div class="container-fluid timeline-bg">
    <div class="workshops-content">
        {% if workshops.count() %}
        <!-- events timeline -->
        <div class="events_timeline_background">
            <div class="container tl-container">
                <div class="timeline timeline--loaded timeline--horizontal" style="opacity: 1;">
                    <div class="timeline__wrap">
                        <div class="timeline__items">
                            {% for entry in workshops %}
                            {% if entry.date %}
                            <div class="timeline__item">
                                <div class="timeline__content index_{{entry.id}}">
                                    <div class="date_and_place">
                                        <span class="event_date">
                                            {{entry.date | date('F Y')}}
                                        </span>
                                    </div>
                                    <div class="title_and_desc">
                                        <div class="card__front">
                                            <span class="timeline-body">{{entry.title}}</span> 
                                        </div>
                                        <div class="card__back">
                                            <div class="col-xs-12 card__content">
                                                <div class="timeline__description">
                                                    {% if entry.description %}
                                                    {{ entry.description | striptags | e }}
                                                    {% endif %}
                                                </div>
                                                <div class="timeline-desc">
                                                    {% if entry.url %}
                                                    <a href="{{entry.url}}">Learn more</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <button class="timeline-nav-button timeline-nav-button--prev" disabled="" style="top: 265px;">Previous</button><button class="timeline-nav-button timeline-nav-button--next" style="top: 265px;">Next</button><span class="timeline-divider" style="top: 265px;"></span></div>
            </div>
            <script type="text/javascript">
                timeline(document.querySelectorAll('.timeline'), {
                    forceVerticalMode: 1024,
                    mode: 'horizontal',
                    verticalStartPosition: 'left',
                    visibleItems: 7,
                    startIndex: {{ workshops.count - ongoing_entries.count - 1}}
                });
            </script>

        </div>
    {% endif %}
    </div>
</div>

<div class="container">
    {% component 'demoList' %}
</div>