url = "/partners"
layout = "default"
title = "Partners"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[PartnersPage]
limit = 0
templates = "template7"
button_name = "Insider"
maxItems = 10

[jumbotron]
jumbotron = "consortium"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Partners\Models\Partners;
use Pensoft\Cardprofiles\Models\Profiles as Profiles;

function onStart(){
	$this['partners'] =  Partners::get();

    $this['partner_members'] = new class {
        public function getProfiles($partnerId) {
            return Profiles::where('category_id', 2)->where('partner_id', $partnerId)->get();
        }
    };

}


function onPartners(){
    if(post('code')){
        $this['partners'] =  Partners::whereRaw('country_code ILIKE \'%'.post('code').'%\'')->where('type', 1)->get();
    }

    $this['partner_members'] = new class {
        public function getProfiles($partnerId) {
            return Profiles::where('category_id', 2)->where('partner_id', $partnerId)->get();
        }
    };
}
?>
==
<div class="container">
    <h1 class="page_heading">Partners</h1>
    <div class="tabs">
        <a class="" href="#mapView" style="background-size: 27px 21px;">Map view</a>
        <a class="" href="#listView">List view</a>

    </div>
</div>
<!--tabs content	-->


        <div id="mapView" class="mapView">
            <span class="tooltiptext" id="tooltip">Bulgaria</span>
            <div class="container-fluid partners_map_container" style="background: #eaf0f2;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 consortium">
                        {% component 'jumbotron' %}
                        </div>
                        
                    </div>
                </div>
                <div class="partners_map">{% partial 'components/svg' %}</div>
            </div>



            <div class="container partners-map-container">
                <div id="mycomponentpartners" class="row">
                    {% for partner in partners %}
                    <div class="col-lg-6 col-xs-12 partner-item-map-view">
                        <div class="row middle-xs between-xs accordion-toggle">
                            {% if partner.cover %}
                            <div class="col-md-2 col-xs-12 start-md center-xs title_container">
                                <img alt="{{ partner.instituion }}" src="{{partner.cover.getThumb(178,auto, { mode : 'crop' } )}}">
                            </div>
                            {% endif %}
                            <div class="col-md-10 col-xs-12 start-md center-xs title_container">
                                {{ partner.instituion }}
                            </div>
                        </div>
                        <div class="row accordion-content">
                            <div class="col-xs-12">{{partner.content|raw}}</div>
                            {% if partner_members.getProfiles(partner.id).count > 0 %}
                            <div class="col-xs-12 col-md-6 start-md center-xs">
                                <h2>Contact</h2>
                                {% for profile in partner_members.getProfiles(partner.id) %}
                                    <b>{{profile.names}}</b>{% if profile.position %}, {{profile.position}}{% endif %}{% if profile.department %}, {{profile.department}}{% endif %}
                                    {% if profile.email %}
                                    <br><a class="email" href="mailto:{{profile.email}}">{{profile.email}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}

                            {% if partner.instituion_url %}
                            <div class="col-xs-12 col-md-6 start-md center-xs">
                                <h2>Website</h2>
                                <a class="website" href="{{partner.instituion_url}}" target="_blank">{{partner.instituion_url}}</a>
                            </div>
                            {% endif %}

                            {% if partner.add_description %}
                            <div class="col-xs-12 role">
                                <h2>Role in the project</h2>
                                {{partner.add_description|raw}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>


        </div>

        <div id="listView">
    <div class="container">
        <div class="partners_list_container">
            {% for partner in partners %}
            <div class="accordion-border">
                <div class="row middle-xs between-xs accordion-toggle">
                    {% if partner.cover %}
                    <div class="col-lg-2 col-xs-12 start-lg center-xs title_container">
                        <img alt="{{ partner.instituion }}" src="{{partner.cover.getThumb(260,auto, { mode : 'crop' } )}}">
                    </div>
                    {% endif %}
                    <div class="col-lg-8 col-xs-8 start-lg center-xs title_container">
                        {{ partner.instituion }}
                    </div>
                    <div class="col-lg col-xs end-xs plusminus"><span class="plus"></span></div>
                </div>
                <div class="row accordion-content" style="display: none;">
                    <div class="col-xs-12">{{partner.content|raw}}</div>
                        {% if partner_members.getProfiles(partner.id).count > 0 %}
                        <div class="col-xs-12 col-md-6 start-md center-xs">
                            <h2>Contact</h2>
                            {% for profile in partner_members.getProfiles(partner.id) %}
                            <b>{{profile.names}}</b>{% if profile.position %}, {{profile.position}}{% endif %}{% if profile.department %}, {{profile.department}}{% endif %}
                            {% if profile.email %}
                            <br><a class="email" href="mailto:{{profile.email}}">{{profile.email}}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}

                    <div class="col-xs-12 col-md-6">
                        <h2>Website</h2>
                        <a class="website" href="{{partner.instituion_url}}" target="_blank">{{partner.instituion_url}}</a>
                    </div>
                    <div class="col-xs-12 role">
                        <h2>Role in the project</h2>
                        {{partner.add_description|raw}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>