
.card_title{
  font-family: Aller;
  font-size: 22px;
  font-weight: 600;
  color: @dark-color;
}

.card-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.card-container {
  margin-bottom: 20px;
  //padding: 0 50px;
  min-width: fit-content;
  .breakpoint-laptop-down({
    padding: 0px;
  });
}


.card_image_container{
  display: block;
  // background-size: 141px!important;
  height: 200px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    transition: all .3s ease-in-out!important;

    &:hover{
        margin-top: -20px;
        margin-bottom: 20px;
        box-shadow: 0 10px 20px rgba(4, 90, 107, 0.5);
    }
}
.card_image_container_newsletter{
  width: 440px;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    transition: all .3s ease-in-out!important;

    &:hover{
        margin-top: -20px;
        margin-bottom: 20px;
        box-shadow: 0 10px 20px rgba(4, 90, 107, 0.5);
    }
    .breakpoint-large-down({
      width: 100%;
      height: auto;
    })
}

.newsletters,
.logo,
.flyer{
  .card_image_container{
    display: flex;
    background-size: cover;
    margin: 27px auto;
    border: none;
    &:hover{
      opacity: 0.7!important;
        box-shadow: none;
    }
  }
}

.logo .card_image_container{
  border-radius: 0;
  background-size: 50%!important;
}


.card-carousel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  .card-body {
    background: @white-color;
    min-height: 135px!important;
    margin-top: 20px;
    .rounded(10px);
  }
}

.card-new-item {
  margin-top: 1rem;
  transition: all .3s ease-in-out;
}

.card-new-item:hover{
  margin-top: 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card-columns {
  flex-flow: column wrap !important;
  .card {
    margin-bottom: @margin-base-space * .75;
  }
  .breakpoint-small({
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
    .card {
      display: inline-flex;
      width: 100%;
    }
  });
}

.card-columns-three {
  .card {
    margin-bottom: @margin-base-space * .75;
  }
  .breakpoint-small({
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
    .card {
      display: inline-flex;
      width: 100%;
    }
  });
}

.cards {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;


  margin-left: -.5rem;
  margin-right: -.5rem;

  .card {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .breakpoint-small-down({
    .card {
      width: 100%;
    }
  });
  .breakpoint-small-down({
    margin-right: 0;
    margin-left: 0;
  });
}

.breakpoint-small-down({
  .card + .card {
    margin-top: @margin-base-space;
  }
});
