.jumbotron {
    position: absolute;
    z-index: 100;

    .breakpoint-large-down({
        padding-top: 95px;
    });
}

.jumbotron p{
  color: #ffffff!important;
}

.we_will .container{
  padding-bottom: 20px;
}
.background .container{
  padding: 0 5px;
}

.vision {
  h1{
      padding-top: 80px;
      text-align: center;
      &::before{
          width: 68px;
          height: 68px;
          background: url('../../assets/images/vision.svg') center no-repeat;
          content: '';
          display: flex;
          align-items: center;
          margin: -80px auto 20px auto;
      }
  }
  p{
      text-align: center;
      padding: 0 10px;
  }
}
.mission{
    h1{
        padding-top: 80px;
        text-align: center;
        &::before{
            width: 68px;
            height: 68px;
            background: url('../../assets/images/mission.svg') center no-repeat;
            content: '';
            display: flex;
            align-items: center;
            margin: -80px auto 20px auto;
        }
    }
    p{
        text-align: center;
        padding: 0 10px;
    }
}
.goals{
    h1{
        padding-top: 80px;
        text-align: center;
        &::before{
            width: 68px;
            height: 68px;
            background: url('../../assets/images/goal.svg') center no-repeat;
            content: '';
            display: flex;
            align-items: center;
            margin: -80px auto 20px auto;
        }
    }
    p{
        text-align: center;
        padding: 0 10px;
    }
}



.numbers_container{
  margin-bottom: 50px;
}

.numbers {
  width: 200px;
  height: 80px;
  background-size: contain;
  padding-top: 50px;
  color: @link-color;
  font-size: 50px;
  font-weight: bold;
  //margin: 0 auto;
  font-size: 1.5em;
  margin-top: 20px;
  .breakpoint-small-down({
    text-align: center;
    margin: 30px auto;
  })
}

.numbers p{
  color: @black-color;
  font-weight: bold!important;
  white-space: nowrap!important;
  text-align: center;
  font-size: 24px;
}

.num_container{
  flex-grow: unset!important;
  .breakpoint-large-down({
    margin: 20px 0;
  });
}

.count {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.about{
  .container img{
    width: 90%;
    float: right;
    .breakpoint-small-down({
      width: 100%;
      float: none;
    });
  }

    .about-mission{
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                background: url("../../assets/images/mission-icons.svg") no-repeat;
                background-position: 0px 2px;
                background-size: 56px 96px;
                padding-left: 80px;
                padding-right: 20px;
                margin-bottom: 30px;
                padding-bottom: 10px;
            }
        }
    }
    .about-goals{
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                padding-left: 80px;
                margin-bottom: 30px;
                padding-bottom: 20px;
                &:nth-of-type(1){
                    background: url("../../assets/images/1.svg") no-repeat;
                    background-position: 0px 2px;
                    background-size: 56px 60px;
                }
                &:nth-of-type(2){
                    background: url("../../assets/images/2.svg") no-repeat;
                    background-position: 0px 2px;
                    background-size: 56px;
                }
                &:nth-of-type(3){
                    background: url("../../assets/images/3.svg") no-repeat;
                    background-position: 0px 2px;
                    background-size: 56px;
                }
                &:nth-of-type(4){
                    background: url("../../assets/images/4.svg") no-repeat;
                    background-position: 0px 2px;
                    background-size: 56px;
                }
            }
        }
    }
}
