@cycle-width: 17px;
@timeline-primary-color: @date-text-color;
@timeline-secondary-color: @secondary-color;
@timeline-bg-message-box: @transparent;
@timeline-border-weight: @border-line-width;
@timeline-border-color: @link-color;

@timeline-cycle-border-width: @timeline-border-weight * 1;
@timeline-body-padding: @padding-base-space * 1;
@timeline-item-padding-y: @cycle-width + 20;
@timeline-item-padding-x: (@cycle-width / 2 + @timeline-cycle-border-width + @timeline-border-weight + 10);

.timeline-bg{
    max-height: 600px;
    background-color: #DADFE3;
    .breakpoint-laptop-down({
        max-height: unset !important;
    })
}

.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
    padding-bottom: 0!important;
}

/* NEW */

.timeline__wrap {
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.timeline__item {
    font-size: 1rem;
    padding: 10px 40px 10px 0;
    position: relative;
    width: 50%;
    z-index: 2;
    &::after {
        background-color: @yellow-color;
        border: 1px solid @link-color;
        // border-radius: 50%;
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        right: -10px;
        transform: translateY(-50%);
        top: 50%;
        width: 20px;
        z-index: 1;
    }
    &.animated {
        animation-duration: 1s;
        animation-fill-mode: both;
        opacity: 0;
    }
    &.fadeIn {
        animation-name: fadeIn;
    }

}

.timeline__item--left {
    left: 0;
}

.timeline__item--right {
    left: 50%;
    padding: 10px 0 10px 40px;
    &::after {
        left: -10px;
    }
}

.timeline__content {
    display: block;
    padding: 20px 0;
    font-size: 16px;
    position: relative;
    perspective: 1000px;
}

.timeline--horizontal {
    font-size: 0;
    padding: 0 50px;
    overflow: hidden;
    white-space: nowrap;

    .card__front, .card__back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 1.2em;
    }
    
    .card__front {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        padding: 0 20px;
    }
    
    .card__back {
        transform: rotateY(180deg);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: @white-color !important;
        font-size: 12px !important;
        line-height: 14px;

        p {
            font-size: 12px !important;
            color: @white-color !important;
            line-height: 14px;
        }
    }

    .card__content{
        padding: 12px;
        width: 100%;
        height: 100%;
    }

    .timeline-divider {
        background-image: linear-gradient(to right, @timeline-border-color 30%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
        display: block;
        height: 1px;
        left: 40px;
        position: absolute;
        transform: translateY(-50%);
        right: 40px;
        z-index: 1;
    }

    .timeline__items {
        transition: all 0.8s;
        will-change: transform;
        min-height: 650px;
    }

    .timeline__item {
        display:  inline-block;
        left:0;
        padding: 0 0 40px;
        position: relative;
        transition: none;
        vertical-align: top;
        white-space: normal;
        &::after {
            left: 50%;
            right: auto;
            transform: translate(-50%, -50%);
            top: 100%;
        }
        .timeline__content__wrap {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: bottom;
        }

        .timeline__content{
            position: relative;
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .timeline-body{
                color: @white-color;
                font-size: 13px !important;
                font-weight: bold;
                .breakpoint-huge-down({
                    font-size: 12px !important;
                });
            }

            .timeline-desc{
                margin-top: 20px;
                a{
                    color: @green-color!important;
                    font-weight: bold;
                    font-size: 14px;
                }
            }

            .date_and_place{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: @link-color;
                font-weight: bold;
                font-size: 0.9em;
                width: 100%;
                height: 100%;
                justify-content: end;
            }

            .title_and_desc{
                position: absolute;
                top: 307px;
                color: @white-color!important;
                background: @link-color;
                width: 80%;
                height: 145px;
                padding: 0 20px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transform-style: preserve-3d;
                transition: transform 1s;

                &:hover{
                    transform: rotateY(180deg);
    
                    .card__front {
                        visibility: hidden;
                    }
                
                    .card__back {
                        visibility: visible;
                    }
                }
                p{
                    margin-bottom: 0;
                    color: @white-color!important;
                    font-weight: 100;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 50px;
                    bottom:  calc(~'100%');
                    left: calc(~'50% - 1px');
                    background-color: @link-color;

                }
            }
        }

        &--bottom {
            &::after {
                top: 0;
            }
            .timeline__content__wrap {
                vertical-align: top;
            }

            .timeline__content{

                .date_and_place{
                    justify-content: start;
                }

                .title_and_desc{
                    top: -200px;
                    color: @white-color!important;
                    background: @link-color;
                    width: 80%;
                    //height: 175px;
                    padding: 0 20px;
                    &::after {
                        bottom: -50px;
                    }
                }
            }
        }


    }
}

.timeline-nav-button {
    background-color: transparent;
    border: none;
    box-sizing:border-box;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 40px;
    outline: none;
    position: absolute;
    text-indent: -9999px;
    transform: translateY(-50%);
    top: 50%;
    width: 70px;
    z-index: 10;
    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
    &::before {
        background-position: center center;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 14px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        width: 8px;
        .breakpoint-small-down({
            left: 124%;
        });
    }
    &--prev {
        left: 0;
        &::before {
            background-image: url('../../assets/images/arrow-left.svg');
        }
    }
    &--next {
        right: 0;
        &::before {
            background-image: url('../../assets/images/arrow-right.svg');
        }
    }
}

.dps .container-fluid.bg-secondary .container {
    padding: 10px 10px !important;
}

.dps .container.main_container .container{
    padding: 0 !important;
}

.timeline--mobile {
    padding: 0 !important;

    .card__back {
        display: none;
    }
    
    .card__front {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .timeline__wrap {
        overflow: hidden;
        position: relative;
        z-index: 2;
        padding-top: 0px;
        max-height: 720px;
        padding-left: 50px;
        margin-bottom: 24px;
    }

    .timeline-nav-button {
        &--prev {
            left: 24px;
            height: 1px;
            width: 20px;
            transform: rotate(90deg) !important;
        }
        &--next {
            left: 24px;
            height: 1px;
            width: 20px;
            transform: rotate(90deg) !important;
        }
    }

    .timeline-divider {
        background-image: linear-gradient(to bottom, @timeline-border-color 30%, rgba(255,255,255,0) 0%);
        background-position: left;
        background-size: 1px 5px;
        background-repeat: repeat-y;
        transform: none !important;
        display: block;
        width: 1px;
        top: 0px;
        position: absolute;
        left: 35px;
        bottom: 0px;
        z-index: 1;
    }

    &::before {
        left: 10px !important;
        margin: 0 !important;
    }
    .timeline__item {
        left: 0;
        padding-left: 25px;
        padding-right: 20px;
        width: calc(100% - 20px);
        height: 100%;
        &::after {
            left: -25px;
            margin: 0;
        }
    }

    .timeline__content{
        position: relative;
        color: @white-color;
        .date_and_place{
            display: flex;
            flex-direction: column;
            color: @link-color;
            font-weight: bold;
            margin-bottom: 5px;
            span{
                color: @link-color;
            }
        }

        .timeline-body {
            font-size: 18px;
            font-weight: bold;
        }
        
        .title_and_desc{
            background: @link-color;
            padding: 20px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .timeline-desc {

            a{
                color: @green-color!important;
                font-weight: bold;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 70px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes liftUp {
    0% {
        top: 0px;
    }
    100% {
        top: -15px;
    }
}
